@{
    ViewBag.Title = "Index";
}

@section featured
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>The ScoreBoard</h1>
                <h2>Our own take on what a baby book should be.</h2>
            </hgroup>
        </div>
    </section>

}

<h2>Index</h2>
