@{
    ViewBag.Title = "Index";
}

@section featured
{
    <div class="container-fluid">
        <div class="span8 offset4">
            <h1>The ScoreBoard</h1>
            <h2>Our own take on what a baby book should be.</h2>
        </div> 
    </div>
}

<div class="span10 offset1">
    <h2>Index</h2>
</div>